body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

div {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.cent {
    text-align: center;
}

.te,
.pa {
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
}

#but,
#but1,
#but2,
#but3 {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

#but:hover,
#but1:hover,
#but2:hover,
#but3:hover {
    background-color: #45a049;
}
